<%- include ("userNav.ejs") %>
    <%- include ("../Visitor/carousel.ejs") %>
        <div class="container"><br><br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2>Cancel Page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("userFooter.ejs") %>